# .mailmap — unifica las identidades históricas de Git con el nombre completo
# y el correo institucional de cada integrante. Ver P4/A12 de la guía ACERS.

María del Rosario Escudero Plaza <mescuderop@uteq.edu.ec> charito20 <mescuderop@uteq.edu.ec>
María del Rosario Escudero Plaza <mescuderop@uteq.edu.ec> María Escudero <mescuderop@uteq.edu.ec>
Roselyn Andreina Sánchez Centeno <rsanchezc4@uteq.edu.ec> Roselyn Sánchez <rsanchezc4@uteq.edu.ec>
Roselyn Andreina Sánchez Centeno <rsanchezc4@uteq.edu.ec> Roselyn15 <rsanchezc4@uteq.edu.ec>
Kamila Annabella Calle Delgado <kcalled@uteq.edu.ec> kcalled <kcalled@uteq.edu.ec>
Danela Dayana Arteaga Álava <darteagaa@uteq.edu.ec> darteagaa-boop <darteagaa@uteq.edu.ec>
Jeanpierre Robinson Espinoza <jrobinsone@uteq.edu.ec> jean200525 <jrobinsone@uteq.edu.ec>
